
/* Variables */
:root {
    --primary: #EA40A4;
    --business: #3a82ee;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #ff5b57;

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

* {
    right: 100px;
}

body {
    background: var(--light);
    color: var(--dark);
}

h1 {
    position: center;
    margin: auto;
    width: 20%;
}

body {
    background: #006d77;
}

.list-header {
    display: flex;
    align-items: center;
}

.list-title {
    flex: 1;
}

.layouts-btn-wrapper button {
    display: inline-block;
    background-color: #edf6f9;
    border: 4px double #cccccc;
    /*Deciding how long the item want to be*/
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

.layouts-btn-wrapper button:hover {
    background-color: #e29578;
}

.uncheck-btn input, .create-cat-btn input {
    display: block;
    background-color: #edf6f9;
    width: 250px;
    margin: 0 auto;
    border: 4px double #cccccc;
    transition: all 0.5s;
    cursor: pointer;
}

.uncheck-btn input:hover, .create-cat-btn input:hover {
    background-color: #e29578;
}

.list-header-btn button {
    display: inline-block;
    background-color: #edf6f9;
    /*Making the button to be rounded shaped*/
    border-radius: 10px;
    /*Giving a wrapper layout to the button*/
    border: 4px double #cccccc;
    /*Changing the text color inside the button*/
    /*color: #eeeeee;*/
    text-align: center;
    /*Choosing the font size*/
    /*font-size: 28px;*/
    /*Choosing the padding size*/
    /*padding: 20px;*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.list-header-btn button:hover {
    background-color: #e29578;
}